<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>
	{% assign current_category = page.categories[0] %}
	{% assign posts_in_category = site.categories[current_category] %}
	{% assign current_index = nil %}
	
	{% for post in posts_in_category %}
	  {% if post.url == page.url %}
		{% assign current_index = forloop.index0 %}
	  {% endif %}
	{% endfor %}
	
	<footer>
		<div class="post-navigation">
		{% if current_index != nil %}
			{% assign prev_index = current_index | minus: 1 %}
			{% assign next_index = current_index | plus: 1 %}
		
			{% if prev_index >= 0 %}
			<a class="prev-post" href="{{ posts_in_category[prev_index].url }}">
				<span class="prev-title">{{ posts_in_category[prev_index].title }}</span>
			</a>
			{% endif %}
		
			{% if next_index < posts_in_category.size %}
			<a class="next-post" href="{{ posts_in_category[next_index].url }}">
				<span class="next-title">{{ posts_in_category[next_index].title }}</span>
			</a>
			{% endif %}
		{% endif %}
		</div>
		
		<div class="recent-posts">
			<h3>최근 게시글</h3>
			<div class="cards">
			{% for post in site.posts limit:5 %}
				<div class="card">
				<a href="{{ post.url }}">
					<h4>{{ post.title }}</h4>
					<p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
					<small>{{ post.date | date: "%Y-%m-%d" }}</small>
				</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</footer>
	  
	
	<script src="https://utteranc.es/client.js"
        repo="y00913/blog-comments"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
</article>
